# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
